<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/sections/soroush-karimi.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 ml-auto mr-auto">
          <div class="card card-register">
            <h3 class="card-title text-center">Cadastre-se</h3>
            <div class="social">
              <button href="#paper-kit" class="btn btn-just-icon btn-facebook"><i class="fa fa-facebook"></i></button>
              <button href="#paper-kit" class="btn btn-just-icon btn-google"><i class="fa fa-google"></i></button>
              <button href="#paper-kit" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></button>
            </div>

            <div class="division">
              <div class="line l"></div>
              <span>ou</span>
              <div class="line r"></div>
            </div>
            <form class="register-form">
              <input type="text" class="form-control" placeholder="Email">

              <input type="password" class="form-control" placeholder="Senha">

              <input type="password" class="form-control" placeholder="Confirme a senha">

              <button class="btn btn-block btn-round">Cadastrar</button>
            </form>
            <div class="login">
              <p>Possui uma conta? <a href="#0">Entre</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
