<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url('./assets/img/sections/rawpixel-com-2.jpg');">
    <div class="filter"></div>
  </div>
<div class="container tim-container">

  <div id="info-areas">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title">Como Funciona</h2>
    </div>


  <div class="row">
    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-primary">
          <i class="nc-icon"><img src="./assets/img/icones/group.svg"></i>

        </div>
        <div class="description">
          <h4 class="info-title"> Escolha o profissional </h4>
          <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-primary">
          <i class="nc-icon"><img src="./assets/img/icones/agenda.svg"></i>

        </div>
        <div class="description">
          <h4 class="info-title"> Agende a sessão</h4>
          <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-primary">
          <i class="nc-icon"><img src="./assets/img/icones/black-and-white-credit-cards.svg"></i>

        </div>
        <div class="description">
          <h4 class="info-title"> Efetue o pagamento </h4>
          <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-primary">
          <i class="nc-icon"><img src="./assets/img/icones/video-conference.svg"></i>

        </div>
        <div class="description">
          <h4 class="info-title"> Converse com o profissional </h4>
          <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
