<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url('./assets/img/sections/rawpixel-com.jpg');">
    <div class="filter"></div>
  </div>
  <div class="team-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Nossos Especialistas</h2>
          <h5 class="description">Aqui você tem uma breve explicação de cada abordagem e especialidade da psicologia para entender melhor qual o profissional certo para você. </h5>
        </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="row">
              <div class="col-md-5">
                <div class="card-img-top">
                  <a href="#pablo">
                    <img class="img" src="assets/img/faces/avatar1.PNG" />
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-body text-left">
                  <h4 class="card-title">Laura Furtado Ciruffo</h4>
                  <h6 class="card-category">Psicóloga</h6>
                  <p class="card-description">
                    Trabalho com questões relacionadas a vida profissional, autoconhecimento, relacionamentos e conflitos familiares.
                  </p>
                  <div class="card-footer pull-left">
                    <button [routerLink]="['/detalhe']" class="btn btn-outline-default btn-border btn-round" type="button"><i _ngcontent-c5="" class="nc-icon nc-zoom-split"></i> Mais informações</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-6">
          <div class="card card-profile card-plain">
            <div class="row">
              <div class="col-md-5">
                <div class="card-img-top">
                  <a href="#pablo">
                    <img class="img" src="assets/img/faces/avatar2.PNG" />
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-body text-left">
                  <h4 class="card-title">Madalena Renault</h4>
                  <h6 class="card-category">Psicóloga</h6>
                  <p class="card-description">
                    Tenho ampla experiência em questões relacionadas ao mundo do trabalho, como orientação profissional e vocacional, redirecionamento de carreira, orientação de líderes e estresse.
                  </p>
                  <div class="card-footer pull-left">
                    <button [routerLink]="['/detalhe']" class="btn btn-outline-default btn-border btn-round" type="button"><i _ngcontent-c5="" class="nc-icon nc-zoom-split"></i> Mais informações</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    </div>

</div>
</div>
