<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url('./assets/img/sections/rawpixel-com-2.jpg');">
    <div class="filter"></div>
  </div>
  <div class="profile-content section">
    <div class="container">
      <div class="row">
        <div class="profile-picture">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new img-no-padding text-center">
              <img src="./assets/img/faces/avatar1.PNG">
            </div>
            <div class="name">
              <h4 class="title text-center">Laura Furtado Ciruffo<br/>
                <small>C.R.P. 0438 - 4a. Região</small>
              </h4>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>Tenho experiência em conflitos familiares, amorosos, ansiedade, depressão, transtorno alimentar e pânico.
            Ajudo você a compreender os conflitos, guiando um processo de reflexão e autoconhecimento. Trabalhei no
            mundo corporativo em RH e gestão de pessoas. Hoje atendo crianças, adolescentes e adultos. </p>
          <br/>
        </div>
      </div>
      <br/>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <hr/>
          <div class="row">
            <div class="col-md-3 col-3">
              EXPERIENCIA
            </div>
            <div class="col-md-7 col-4">
              <ul class="text-left">
                <li>Ansiedade</li>
                <li>Compulsão Alimentar</li>
                <li>Conflitos Familiares</li>
                <li>Depressão</li>
                <li>Relacionamento</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-3">
              ESPECIALIDADES
            </div>
            <div class="col-md-7 col-4">
              <ul class="text-left">
                <li>Orientação vocacional</li>
                <li>Psicologia clínica</li>
                <li>Terapia de casal</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-3">
              FORMAÇÃO
            </div>
            <div class="col-md-7 col-4">
              <ul class="text-left">
                <li> Graduada em Psicologia pela UFMG - Universidade Federal de Minas Gerais.</li>
                <li>Pós-Graduada pela USP - Universidade de São Paulo.</li>
                <li>Especializaço em Psicoterapia Cognitivo-comportamental pela PUC-Campinas - Pontifícia Universidade Católica de Campinas.</li>
                <li> Professora Aposentada do Departamento de Psicologia da UFMG - Universidade Federal de Minas Gerais.</li>
              </ul>
            </div>
          </div>

          <hr/>
          <button type="button" class="btn btn-success btn-round btn-lg"><i class="fa fa-calendar"></i> Agendar Sessão</button>

        </div>
      </div>

    </div>
  </div>
</div>


